<div style="
  text-align: justify;
  color: #101010;
  padding: 50px;
">

  <h3>Olá, <span style="
    color: #7d40e7;
    margin-top: 10px;
  ">{{ name }}</span></h3>

  <p>Temos um novo <b>produto</b> esperando por você !</p>
  <br/ >

  <b>{{ product }}</b> <br />

  <p style="line-height: 1.5em;"> 
    <b>Destinatário:</b> <br>
    <b>Nome:</b> {{ name }} <br> 
    <b>Endereço:</b> {{ street }}, n° {{ number }}, {{ complement }}, {{ city }} - {{ state }} <br> 
    <b>CEP:</b> {{ cep }} <br> 
  </p>

</div>